.portfolio-item h3 {
  font-size: 1.5em;
  text-align: center;
}

.portfolio-content {
  display: none;
  align-items: flex-start;
  gap: 1%;
}

.portfolio-content img {
  min-width: 80px;
  min-height: 80px;
  width: 9%;
  height: 9%;
  object-fit: contain; 
  flex-shrink: 0;
}

.portfolio-content p {
  margin: 0;
}

.portfolio-item {
  background-color: rgb(232, 232, 232);
  padding: 2%;
  margin: 2% auto;
}

@media (max-width: 600px) {
  .portfolio-content img {
  display: none;
}
}