img {
    margin: 2% auto;
    width: 40%;
    display: block;
    object-fit: contain; 
}

@media (max-width: 600px) {
img {
    margin: 2% auto;
    width: 80%;
    display: block;
    object-fit: contain; 
}
}